body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  place-items: center;
}

button {
  border: none;
  padding: 1rem 2rem;
  max-width: 10rem;
  background: #212121;
  color: #fff;
}
button:hover {
  background: #515151;
}
